/* for all html elements */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


.header{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0.25turn, #e66465, #9198e5);;
    background-size: cover;
    position: relative;
}


nav{
    overflow: hidden;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 200px;
}

.nav-links{
    flex: 1;    /* nav links will shrink and grow proportionally to screen size*/
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: gold;
    font-weight: bold;
    text-decoration: none;  /* gets rid of line underneath links*/
}

/* Line underneath menu items*/
.nav-links ul li::after{
    content: "";
    width: 0;
    height: 2px;
    background: lightpink;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.index-image {
 height: 5%;
 width: 5%;
}

.front-message{
    width: 90%;
    color : cornflowerblue;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.front-message h1{
    font-size: 62px;
}



/*GALLERY*/
.title{
    position: absolute;
    top: 2%;
    left: 35%;
    z-index: 2;
}

.title h1{
    font-size: 40pt;
    color: azure;
}

.gallery {
    position: absolute;
    top: 20%;
    left: 10%;
    display: inline-block;
}

.gallery img:hover {
    border: 1px solid #777;
}

.gallery img {
    z-index: 2;
    position: relative;
    padding: 10px;
    width: 300px;
}

.drawing {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.desc {
    width: 300px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}


@media(max-width: 700px){
    /* SIDE MENU*/
    .front-message h1{
        font-size: 20px;
    }

    .nav-links ul {
        padding: 50px;
    }

    .nav-links{
        position: absolute;
        background: cornflowerblue;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 3;
        transition: 1s
    }

    .container{
        z-index: 4;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: azure;
        margin: 6px;
        transition: 0.4s;
    }

    .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2{
        opacity: 0;
    }

    .change .bar3{
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    /*GALLERY PHOTOS*/
    .title h1{
    font-size: 17pt;
    }

}
