/* for all html elements */
*{
    margin: 0;
    padding: 0;
    font-family: Bahnschrift;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(media/lighthouse.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 200px;
}

.nav-links{
    flex: 1;    /* nav links will shrink and grow proportionally to screen size*/
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color : darkkhaki;
    font-family: Bahnschrift;
    text-decoration: none;  /* gets rid of line underneath links*/
}

/* Line underneath menu items*/
.nav-links ul li::after{
    content: "";
    width: 0;
    height: 2px;
    background: cornflowerblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.index-image {
 height: 5%;
 width: 5%;
}


.front-message{
    width: 100%;
    color : cornflowerblue;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.front-message h1{
    font-size: 62px;
}
