/* for all html elements */
*{
    margin: 0;
    padding: 0;
    font-family: Bahnschrift;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(media/lighthouse.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    overflow: hidden;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 200px;
}

.nav-links{
    flex: 1;    /* nav links will shrink and grow proportionally to screen size*/
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color : darkkhaki;
    text-decoration: none;  /* gets rid of line underneath links*/
}

/* Line underneath menu items*/
.nav-links ul li::after{
    content: "";
    width: 0;
    height: 2px;
    background: cornflowerblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.index-image {
 height: 5%;
 width: 5%;
}


.front-message{
    width: 90%;
    color : cornflowerblue;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.front-message h1{
    font-size: 62px;
}

@media(max-width: 700px){
    .front-message h1{
        font-size: 20px;
    }

    .nav-links ul {
        padding: 50px;
    }

    .nav-links{
        position: absolute;
        background: cornflowerblue;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s
    }

    .container{
        z-index: 3;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: azure;
        margin: 6px;
        transition: 0.4s;
    }

    .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2{
        opacity: 0;
    }

    .change .bar3{
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

}